@charset "utf-8";
/* CSS Document */

.banner{
	width: 200px;
	height: 400px;
	border: 3px solid red;
	margin: auto;
	
	/*background-image: url(1.jpg);*/
	
	background-size: 100% 100%;
	
	/*animation-name: banner;
	animation-duration: 10s;
	animation-iteration-count: infinite;*/
	
	animation: banner 21s infinite;
	
	}
@keyframes banner{
	0%, 12%{
		background-image: url(1.jpg);
		opacity:1;
	}
	13%, 14%{
		opacity: 0.1;
	}
	15%, 27%{
		background-image: url(2.jpg);
		opacity:1;
	}
	28%, 29%{
		opacity: 0.1;
	}
	30%, 42%{
		background-image: url(3.jpg);
		opacity: 1;
	}
	43%, 44%{
		opacity: 0.1;
	}
	45%, 57%{
		background-image: url(4.jpg);
		opacity:1;
	}
	58%, 59%{
		opacity: 0.1;
	}
	60%, 72%{
		background-image: url(5.jpg);
		opacity:1;
	}
	73%, 74%{
		opacity: 0.1;
	}
	75%, 87%{
		background-image: url(6.jpg);
		opacity:1;
	}
	88%, 89%{
		opacity: 0.1;
	}
	90%, 100%{
		opacity:1;
		background-image: url(7.jpg);
		
	}
}